<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/">Home</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/criteria">
      <mat-icon>thumb_up</mat-icon>
      <span>Internship criteria</span>
    </button>
    <button mat-menu-item routerLink="/criteria">
      <mat-icon>thumb_up</mat-icon>
      <span>Internship criteria</span>
    </button>
    <button mat-menu-item routerLink="/criteria">
      <mat-icon>thumb_up</mat-icon>
      <span>Internship criteria</span>
    </button>
  </mat-menu>
</mat-toolbar>
